body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  color: #333;
}

.header {
  background-color: #000000;
  color: rgb(250, 150, 68);
  padding: 20px;
  text-align: center;
}

.main-content {
  margin: 20px 0;
}

.intro-section,
.features-section {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.intro-section h2,
.features-section h2 {
  color: #333;
}

.features-section ul {
  /* Remove default padding and margin to reset styles */
  padding-left: 0;
  margin-left: 10;
  /* Add padding to create space for bullet points */
  padding-left: 500px; /* Adjust this value as needed */
}

.features-section li {
  /* Align text to the left */
  text-align: left;
  /* Optional: Adjust margin and padding for fine-tuning the alignment */
  margin-bottom: 5px; /* Adjust the space between list items */
}

.footer {
  background-color: #333;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
